In [ ]:
#introduction to list data types
#a list is a collection of items declared in a particular order
#classification is as mutable data type
#how to define/declare the list is given in this chapter
#also introduction to indexing is given here

In [1]:
students=['praveen', 'nivedita', 'sadiya', 'john', 'heena', 'kumar']

In [2]:
print(students)

['praveen', 'nivedita', 'sadiya', 'john', 'heena', 'kumar']

In [3]:
type(students)  #this is validated as the output is thus given as list

list

In [ ]:
#requirement is to get the name of nivedita as output
#here the names are indexed from 0,1,2....

In [4]:
print(students[1])

nivedita

In [5]:
print(students[1].title())

Nivedita

In [6]:
print(students=[1].title(), [2].title(), [3].title())

SyntaxError: positional argument follows keyword argument (2571794176.py, line 1)

In [30]:
print(students[1].title(),students[2].title(),students[3].title())

Ayesha Sadiya Heena

In [8]:
students.append('manoj') #to insert manoj name in the list of students

In [9]:
print(students)

['praveen', 'nivedita', 'sadiya', 'john', 'heena', 'kumar', 'manoj']

In [10]:
students.insert(2,'ayesha')

In [11]:
print(students)

['praveen', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar', 'manoj']

In [12]:
print(students)[2].title()

['praveen', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar', 'manoj']

TypeError: 'NoneType' object is not subscriptable

In [13]:
print(students[2].title())

Ayesha

In [14]:
students[0]='vishesha'

In [15]:
print(students)

['vishesha', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar', 'manoj']

In [16]:
#temperory deleting by using pop.
#note:by default pop will be deleting the item from the list, if needed we can specify index as well
#pop will be storing the deleted items in the variables that has been assigned to it

In [17]:
x=students.pop()

In [18]:
print(students)

['vishesha', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

In [19]:
print(x)

manoj

In [ ]:
#to delete john

In [20]:
y=students.pop(4)

In [21]:
print(students)

['vishesha', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar']

In [22]:
print(y)

john

In [23]:
print(students)

['vishesha', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar']

In [24]:
students['vishesha', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar', 'pranay']

TypeError: list indices must be integers or slices, not tuple

In [25]:
students=['vishesha', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar','pranay']

In [26]:
print(students)

['vishesha', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar', 'pranay']

In [27]:
del students[0]

In [28]:
print(students)

['nivedita', 'ayesha', 'sadiya', 'heena', 'kumar', 'pranay']

In [ ]:
#now visesha is deleted