In [ ]:
Organising the list datatype

In [3]:
cars=['suzuki', 'bmw', 'maruti', 'audi', 'benz', 'kia']

In [4]:
print(cars)

['suzuki', 'bmw', 'maruti', 'audi', 'benz', 'kia']

In [5]:
type(cars)

list

In [6]:
#to organise the list in the alphabatical order----> a-z
#two approaches: sorted  --we will be having the original order of the list declared
 #   in another approach permanent approach -- changes are applied permananetly

In [7]:
cars.sort()

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruti', 'suzuki']

In [ ]:
#introduction to slicing

In [10]:
students = ['kumar', 'naveed', 'david', 'arun', 'visesha', 'nasreen', 'saba', 'teja']

In [11]:
print(students)

['kumar', 'naveed', 'david', 'arun', 'visesha', 'nasreen', 'saba', 'teja']

In [ ]:
[startvaalue:stopvalue:count]

In [ ]:
#note: always last value is exclusive; to include the last value we have to increment the index by +1
#to include kumar and naveed in the slice

In [12]:
print(students[0:1])

['kumar']

In [13]:
print(students)

['kumar', 'naveed', 'david', 'arun', 'visesha', 'nasreen', 'saba', 'teja']

In [14]:
print(students[0:2])

['kumar', 'naveed']

In [15]:
print(students[0:3])

['kumar', 'naveed', 'david']

In [16]:
print(students[2:3])

['david']

In [17]:
print(students[2:4])

['david', 'arun']

In [18]:
print(students[2:5])

['david', 'arun', 'visesha']

In [21]:
print(students[0:7:2])

['kumar', 'david', 'visesha', 'saba']