In [ ]:
#GO to start --anaconda navigator and launch jupiter notebook OPEN FILE PYTHON FROM THERE 
#THEN YOU WILL GET A RECTANGLE. TO ADD RECTANGLES JUST CLICK + SIGN IT WILL GET ADDED 
#ELSE AFTER EXECUTION PRESS ENTER THE SQUARES WILL BE ADDED.
#whatever written with this # is a theory and will not be executed and it will change to green colour

In [1]:
print("hello all welcome to the programming world")

hello all welcome to the programming world

x=3

y=2

In [ ]:
z=x+y

In [2]:
print(z)

NameError: name 'z' is not defined

In [3]:
x=3
y=2

In [4]:
z=x+y

In [5]:
print(z)

5

In [6]:
first name'mohammed assadullah'

SyntaxError: invalid syntax (3635875640.py, line 1)

In [7]:
firstname 'mohammed assadullah'

SyntaxError: invalid syntax (2534318263.py, line 1)

In [9]:
firstname= 'mohammed assadullah'

In [10]:
print(firstname)

mohammed assadullah

In [11]:
1firstname= 'mohammed assadullah'

SyntaxError: invalid decimal literal (3003257913.py, line 1)

In [12]:
@firstname= 'mohammed assadullah'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1292613431.py, line 1)

In [13]:
firstname= (mohammed assadullah)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2590881697.py, line 1)

In [14]:
firstname='mohammed assadullah'

In [15]:
print(firstname.title())

Mohammed Assadullah

In [16]:
print(firstname.upper())

MOHAMMED ASSADULLAH

In [17]:
print(firstname.lower())

mohammed assadullah

In [ ]:
firstname='mohammed'

In [19]:
lastname='assadullah'

In [ ]:
# this number 1 got inserted by mistake and couldn't be deleted so the result is 2 times last name

In [20]:
fullname=f"{firstname}  {lastname}"

In [21]:
print(fullname)

mohammed assadullah  assadullah

In [22]:
firstname= 'mohammed'

In [23]:
lastname=  'assadullah'

In [24]:
fullname=f"{firstname}  {lastname}"

In [25]:
print(fullname)

mohammed  assadullah

In [26]:
message=f"keep the goodwork {fullname.title()}"

In [27]:
print(message)

keep the goodwork Mohammed  Assadullah

In [28]:
message=f"keep the goodwork {fullname.upper()}"

In [29]:
print(message)

keep the goodwork MOHAMMED  ASSADULLAH

In [30]:
print("favourite_programming_language:python    react   java   swift")

favourite_programming_language:python    react   java   swift

In [31]:
print("favourite_programming_language:\npython   \nreact   \njava   \nswift")

favourite_programming_language:
python
react
java
swift

In [32]:
print("favourite_programming_language:\n\tpython  \n\treact  \n\tjava   \n\tswift")

favourite_programming_language:
	python
	react
	java
	swift

In [33]:
name='     python'

In [34]:
print(name)

     python

In [35]:
name.lstrip()

'python'

In [38]:
name='     python     '

In [39]:
print(name) # by default it has taken from row 33 and hence this answer. so change to name2

python

In [45]:
name2='python   '

In [46]:
print(name2)

python

In [47]:
name2.rstrip()

'python'

In [50]:
name3='      python      '# instead of name 3 I had typed name 2 which was corrected and thus ans

In [51]:
name3.strip()

'python'

In [52]:
students=['praveen',   'nivedita',   'sadiya',   'john',   'heena',   'kumar']

In [53]:
print(students)

['praveen', 'nivedita', 'sadiya', 'john', 'heena', 'kumar']

In [54]:
print("\npraveen,\nnivedita\nsadiya\njohn\nheena\nkumar")

praveen,
nivedita
sadiya
john
heena
kumar

In [55]:
students.insert(2,'ayesha')

In [56]:
print(students)

['praveen', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

In [57]:
print(students[2].title())

Ayesha

In [58]:
students[0]= 'mohammed'

In [59]:
print(students)

['mohammed', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

In [1]:
x=students.pop()

NameError: name 'students' is not defined

In [2]:
students=['mohammed', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

In [3]:
x=students.pop()# last name kumar gets deleted if using .pop

In [4]:
print(students)

['mohammed', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena']

In [5]:
y=students.pop(4)

In [6]:
print(y)

john

In [7]:
del students(4)

SyntaxError: cannot delete function call (1972210155.py, line 1)

In [8]:
students=[['praveen', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

SyntaxError: incomplete input (1333504626.py, line 1)

In [9]:
students=['praveen', 'nivedita', 'ayesha', 'sadiya', 'john', 'heena', 'kumar']

In [12]:
del students[4]

In [13]:
print (students)

['praveen', 'nivedita', 'ayesha', 'sadiya', 'heena', 'kumar']